<% @location.attrs.each do |location_attr| %>
  <div class="row">
    <div class="col-md-3 col-md-offset-1 location-heading">
      <%= location_attr.humanize %>
    </div>
    <% if location_attr == 'city' %>
      <div class="col-md-7">
        <%= @location.city %>
      </div>
    <% elsif location_attr == 'state' %>
      <div class="col-md-7">
        <%= @location.state %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-3 col-md-offset-1 location-heading">
    <%= "Primary Key" %>
  </div>
  <div class="col-md-7">
    <%= @location.id %>
  </div>
</div>
